<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userdata">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
             formControlName="username"
            class="form-control">
            <!--  --><span *ngIf="signUpForm.get('userdata.username').errors['nameIsForbidden']">This name is invalid!</span>

            <span *ngIf="signUpForm.get('userdata.username').errors['required']">This field is required!</span>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
          <!--  <span *ngIf="signUpForm.get('userdata.email').invalid && signUpForm.get('userdata.email').touched">Email is requried</span>
-->
   <span *ngIf="signUpForm.get('userdata.email').errors!=null && signUpForm.get('userdata.email').errors['required']">
                <i class="text-danger">email requried.</i>
            </span>
            <span *ngIf="signUpForm.get('userdata.email').errors!=null && signUpForm.get('userdata.email').errors['emailIsforbidden']">
                         <i class="text-danger">rmail Invaid.</i>
                     </span>
          <!--

          dateFormatted.errors.required
            <span *ngIf="signUpForm.get('userdata.email').errors['emailIsforbidden']">Email Invalid</span>
            <span *ngIf="signUpForm.get('userdata.email').errors['emailIsforbidden']">Email Invalid</span>  -->
        </div>
      </div>
      <div formArrayName="hobbies">
Your hobbies
  <button class="btn btn-primary" type="button" (click)="AddHobby()">Add Hobby</button>
  <div class="form-group" *ngFor="let hobbyControl of signUpForm.get('hobbies').controls; let j = index">
<input type="text" class="form-control" [formControlName]="j">
  </div>
      </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
